<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.cdb10.TestRunListener" />
    <listener class-name="org.opengis.cite.cdb10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.cdb10.TestFailureListener" />
  </listeners>

  <test name="CDB Structure">
    <packages>
      <package name="org.opengis.cite.cdb10.cdbStructure" />
    </packages>
  </test>
  <test name="Metadata And Versioning">
    <packages>
      <package name="org.opengis.cite.cdb10.metadataAndVersioning" />
    </packages>
  </test>
</suite>
