<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Test suite: ets-cdb10</name>
    <version>
      <name>1.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/cdb10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-cdb10-0.2-SNAPSHOT</local-name>
        <title>Test suite ets-cdb10</title>
        <description>Describe scope of testing.</description>
      </suite>
      <revision>
        <name>0.2-SNAPSHOT</name>
        <status>Beta</status>
        <sources>
          <source>cdb10/1.0/ctl</source>
        </sources>
        <webdir>cdb10/1.0/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
