<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>OGC CDB</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/cdb10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-cdb10-${version}</local-name>
        <title>OGC CDB</title>
        <description>This test suite tests for compliance to OGC CDB 1.0</description>
        <BasicConformanceClasses>
          <conformanceClass>CDB Structure</conformanceClass>        
        </BasicConformanceClasses>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Final</status>
        <sources>
          <source>cdb10/${spec-version}/ctl</source>
        </sources>
        <webdir>cdb10/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
